#### Variable definitions

aws_access_key = ""
aws_secret_key = ""
aws_region = "us-east-1"
availability_zone = "us-east-1a"
aws_key_name = ""
linux_master_instance_type = "t2.large"
linux_worker_instance_type = "t2.large"
windows_worker_instance_type = "t2.xlarge"
# num_linux_master = 
# num_linux_worker = 
# num_windows_worker = 
rancher_api_endpoint = ""
rancher_api_token = ""
rancher_cluster_name = ""
prefix = ""
owner = ""
private_key_path = "./files/aws-key-pair.pem"
# ssh_user_linux = "ubuntu"
# ssh_user_windows = "administrator"
userdata_linux_file = "./files/userdata_linux.txt"
userdata_windows_file = "./files/userdata_windows.txt"
vpc_id = ""
vpc_name = ""
sg_id = ""
subnet_id = ""
subnet_cidr_block = ""
subnet_tag_name = ""