#### Variable definitions
vpc_name             = "vpc-name"
vpc_domain_name      = "" #leave blank for aws default
prefix               = "" #prefix for instance names
owner                = "" #owner tag value
aws_region           = "us-west-2"
aws_key_name         = "aws-key-name"
private_key_path     = "~/.ssh/aws-key-name.pem"
rancher_api_endpoint = "https://127.0.0.1:8080"
rancher_cluster_name = "cluster-name"
rancher_api_token    = "token-xxxx:<token>" # use login.ps1 to generate
